/* Meu CSS */

/* TAGS */

p{
    color: rgb(119, 210, 132);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: #FFF9F9;
}

*{
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color:#11c76f ;
    height: 1000pxpx;
}

footer{
    clear: both;
    background-color: #77d284;
    height: 50PX;
}

/* IDS */

#div_number1{
    background-color:#eff0e8 ;
    min-height: 200px;
}